<header>
    <nav>
        <h1>File Uploader</h1>
        <% if (locals.user) {%>
            <div>Hello <%=locals.user.email %></div>
            <a href="/">Home page</a>
            <a href="/log-out">Log out</a>
            <% } else { %>
                <a href="/">Home page</a>
                <a href="/sign-in">Sign-in</a>
                <a href="/sign-up">Sign-up</a>
                <% } %>
    </nav>
</header>